p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.logo {
  margin-right: 93px;
}

.link.current {
  position: relative;
  color: #2196f3;
}

.link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link-icon-soc {
  width: 16px;
  height: 12px;
  fill: currentColor;
  color: #afb1b8;
}

.link-icon-soc {
  margin-right: 10px;
  vertical-align: middle;
}

.link-icon-soc:hover,
.link-icon-soc:focus svg {
  fill: #2196f3;
}

.navigation {
  display: flex;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms linear;
}

.item-link:hover,
.item-link:focus {
  color: #2196f3;
}

.item-link:hover .link-icon-soc,
.item-link:focus .link-icon-soc {
  color: #2196f3;
}

.item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms linear;
}

.item,
.list-item,
.item-list,
.main-item,
.hero-item,
.footer-list-item,
.soc-list,
.test-list {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container-box {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px 32px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: color 250ms linear;
}

.hero-menu {
  display: flex;
  gap: 30px;
}

.item-list {
  flex-basis: calc(100% - 90px / 4);
}

.thumb-icon {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
}

.item-list {
  width: 270px;
}

.tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.tagline {
  margin-bottom: 10px;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.section-subtitle {
  padding-top: 0;
}

.subtitle-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.subtitle-lead {
  margin-bottom: 50px;
}

.secondary-menu {
  display: flex;
  gap: 30px;
}

.box-section {
  background: #f5f4fa;
  padding-top: 100px;
  padding-bottom: 100px;
}

.secondary-menu-list {
  display: flex;
  gap: 30px;
}

.secondary-item {
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-item {
  width: 44px;
  height: 44px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #afb1b8;
  transition: background-color 250ms, fill 250ms linear;
}

.soc-link:hover,
.soc-link:focus {
  background-color: #2196f3;
}

.soc-link:hover,
.soc-link:focus .soc-link-icon {
  fill: #ffffff;
}

.box-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.main-item:hover,
.main-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.box-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
  margin-bottom: 16px;
}

.box {
  background: #2f303a;
  padding-top: 50px;
  padding-bottom: 50px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.list-item {
  align-items: center;
}

.caption-box {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.caption-box {
  margin-bottom: 50px;
}

.test-list {
  display: flex;
  gap: 30px;
}

.test-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.test-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #afb1b8;
  transition: color 250ms linear;
}

.test-link:hover,
.test-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.logo-icon {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.logo-icon {
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.text-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}

.address-list {
  margin-top: 20px;
  flex-direction: column;
}

.footer-list-item {
  margin-bottom: 9px;
}

.button:hover,
.button:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms linear, background-color 250ms linear;
}

.items {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.paragraph-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-page {
  background: #ffffff;
  border: 1px solid #ececec;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: calc((100% - 60px) / 3);
}

.hero-item:hover {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-item:hover .hero-top-text {
  transform: translateY(0);
}

.top-wrap {
  position: relative;
  overflow: hidden;
}

.hero-top-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.hero-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.top-icon-paragraph {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
}

.top-icon-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.top-icon-text {
  position: relative;
}

.box-hero-item {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.images-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  list-style: none;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #ffffff;
  transition: background-color 250ms linear, fill 250ms linear;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
}

.footer-soc-link:hover,
.footer-soc-link:focus .footer-soc-link-icon {
  fill: #ffffff;
}

.footer-page {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-box {
  margin-left: 70px;
}

.footer-box-container {
  display: flex;
  align-items: baseline;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  width: 500px;
  min-height: 500px;
  position: absolute;
  background: #ffffff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close:hover svg {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-titel {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.footer-mailto {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.box-mailto {
  margin-left: 93px;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}

.input-modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.button-modal {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-modal {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
