body {
  font-family: 'Roboto', sans-serif;
}

.menu__item,
.connect__list,
.conect__list,
.item-list,
.card__list,
.main-item,
.hero-item,
.footer-list-item,
.soc-list,
.nav__menu {
  list-style: none;
}

.mob__item,
.mob__list-item,
.mob__list-soc {
  list-style: none;
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}