.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.modal__menu {
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.modal__menu {
  margin-left: auto;
}

.mob__menu {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 21px;
  padding-bottom: 21px;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.menu__close {
  margin-left: auto;
  display: block;
  border: none;
  background-color: transparent;
  padding-bottom: 8px;
}

.mob__link {
  @include font(500, 40px, 1.75, 0.02em);
  color: #212121;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link-item {
  @include font(500, 24px, 1.67, 0.02em);
  color: #757575;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.mob__menu-list {
  margin-bottom: 64px;
}

.mob__link-soc--after {
  @include font(500, 18px, 1.22, 0.02em);
  color: #2196f3;
  text-decoration: none;
}

.mob__link-soc {
  @include font(500, 18px, 1.22, 0.02em);
  color: #2196f3;
  text-decoration: none;
}

.mob__menu-soc {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 64px;
  @media screen and (min-width: 480px) {
    gap: 20px;
  }
}

.mob__list-soc {
  position: relative;
}

.mob__link-soc--after::after {
  @media screen and (max-width: 479px) {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 22px;
    height: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.mob__link-soc--after::after {
  @media screen and (min-width: 480px) {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 22px;
    height: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.navigation {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 93px;
  }
}

.connect__menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
  }
}

.menu__link {
  @include font(500, 14px, 1.14, 0.02em);
  color: #212121;
  text-decoration: none;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.connect__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  color: #afb1b8;
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 250ms linear;
  & {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.connect__icon:hover,
.connect__icon:focus {
  fill: #2196f3;
}

.connect__link {
  @include font(500, 14px, 1.14, 0.02em);
  color: #757575;
  text-decoration: none;
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.connect__link:hover .connect__icon,
.connect__link:focus .connect__icon {
  fill: #2196f3;
}

.connect__list:hover,
.connect__list:focus {
  color: #2196f3;
  & {
    align-items: center;
  }
}

.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -28px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: relative;
}
