.card__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-top: 94px;
  }
}

.card__menu {
  margin-top: 60px;
  display: flex;
  //flex-wrap: nowrap;
  gap: 30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-top: 94px;
  }
}

.card__list {
  width: 100%;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    //width: 270px;
    flex-basis: calc((100% - 90px) / 4);
  }
}

.card__icon {
  display: flex;
  background-color: #f5f4fa;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
}

.card__title {
  @media screen and (max-width: 768px) {
    text-align: center;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #212121;
    & {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 768px) {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #212121;
    & {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #212121;
    & {
      margin-bottom: 10px;
    }
  }
}

.card__text {
  @include font(400, 14px, 1.71, 0.03em);
  color: #757575;
  margin-bottom: 60px;
  //margin-bottom: 118px;
}
